.edit {
    display: flex;
    align-items: center;
    margin: 2px 0px;
}

.edit .text {
    padding: 0px 10px;
    text-align: right;
}

.edit .input {
    padding-right: 30px;
    overflow: hidden;
}

.edit.rq > .text {
    color: lightcoral;
}
.edit.rq  input,
.edit.rq  input:focus
{
    outline: none;
    background-color: lightcoral;   
    border: 1px solid red;
}