header > ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
}

header > ul > li {
    position: relative;
    padding: 10px 5px;
}

header > ul > li > a:hover {
    color: lightblue;
}

header .division {
    color: lightgray;
    margin-left: 10px;
}