:root {
    --height : 50px;
}

nav {
    background-color: lightblue;
}

nav > ul {
    display: flex;
    padding: 0 10px;
    gap:10px;
}

nav > ul > li {
    height: var(--height);
    display: flex;
    align-items: center;
    position: relative;
}

nav > ul > li .menu {
    width: 100vw;
    height: 0;

    position: absolute;
    top: var(--height);
    left: -10px;

    transition: height .3s ease-in-out;
    
    overflow: hidden;
    background-color: lightcoral;
}

nav > ul > li:hover .menu {
    height: inherit;
}